/* $theme-colors: (
   "primary": blue,
   "secondary": #833bec,
   "success": #1ce1ac,
   "info": #ff7d50,
   "warning": #ffbe0b,
  "danger": #ff007f, 
    "dark": #001738,
   "pcbColorRed": #a6182d,
   "pcbColorBlue": #002c71,
 );

  $primary: blue;
  $secondary: #833bec;
  $uccess: #1ce1ac;
  $info: #ff7d50;
  $warning: #ffbe0b;
  $danger: #ff007f;
  $dark: #001738;
  $pcbColorRed: #a6182d;
  $pcbColorBlue: #002c71;

@import "/node_modules/bootstrap/scss/bootstrap.scss"; */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  --green: #3fe79e;
  --dark: #5a5a5a;
  --off-white: #f5f5f3;
  --pcbColorBlue: #002c71;
  --pcbColorRed: #a6182d;

  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;

  --font-size-sm: 0.5rem;
  --font-size-md: 1rem;
  --font-size-lg: 2rem;
}

a {
  color: var(--off-white);
  text-decoration: none;
}

body {
  color: var(--dark);
  /* color: $success; */
}

h1 {
  color: var(--dark);
  font-size: var(--font-size-lg);
  margin: 2rem 0;
  padding: 2rem 1rem;
  font-size: 3.6rem;
}

h2 {
  font-size: 2.2rem;
  margin: 1em 1rem 0.5em;
  padding: 2rem 1rem;
  color: var(--dark);
}

h3 {
  color: var(--dark);
}

p {
  font-size: var(--font-size-md);
  font-size: 0.8rem;
}

p,
article,
section {
  line-height: 1.5;
  /* color: var(--dark); */
}

.header {
  position: relative;
  height: 500px;
}

*:focus {
  outline: 0.5rem solid pcbColorRed;
  outline-offset: 0.15rem;
}

form {
  width: 1200px;
  max-width: 60rem; /* Or whatever width you prefer */
  margin: auto;
}

main:focus,
button:focus {
  outline: none;
}

main {
  /* background-color: #0070f3; */
  margin: 0 auto;
  min-height: 65vh;
  position: relative;
  max-width: 1200px;
}

img {
  max-width: 100%;
}

input,
button {
  color: inherit;
  padding: 0.5rem;
  font-size: 1rem;
  background: inherit;
  border-radius: 0.1rem;
  width: 100%;
  border: 1px solid #5555;
  margin: 0.3rem 0;
}

button,
input[type="submit"] {
  background-color: #f8f8f8;
  color: #f8f8f8;
  width: max-content;
  padding: 0.5em 1em;
  font-weight: bold;
  margin-top: 2em;
  font-size: 1.2rem;
}

input a {
  margin-left: 1rem;
  color: #555;
}

/********************************************************************************/
/********************************* utility global classes ***********************/
/********************************************************************************/

.container {
  padding: 0 2rem;
  /* background-color: aquamarine; */
}

.main {
  min-height: 100vh;
  /* // flex: 1;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // position: "relative" */
}

.bg-progressBar {
  background-color: #a6182d !important;
}

/* grid */
.grid {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--min-item-width, 30ch), 1fr)
  );
  gap: var(--space-md);
}

.grid1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

/* card */
.card {
  margin: 1rem 9rem;
  padding: 1.5rem;
  text-align: left;
  color: black;
  text-decoration: none;
  border-radius: 0.1rem;
  border: none;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  background-color: #3fe79e;
  /* position: absolute; */

  top: 20vh;
  left: -20vh;
}

.card:hover,
.card:focus,
.card:active {
  transform: scale(1.1);
  transition: 350ms ease-in-out;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

/* code */
.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

/* logo  */
.logo {
  margin-left: 2.5rem;
  display: flex;
  align-items: center;
}

.logo_image {
  text-align: center;
  margin: 0 auto;
}

/* footer  */
.footer {
  /* display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center; */
}

.footer a {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; */
}

/* sample */

.TeaList > :nth-child(even) {
  --color: var(--green);
}

.lockup {
  max-width: 90ch;
  margin: 0 auto;
}

.TeaListItem {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  background-color: var(--color, var(--off-white));
  color: var(--dark);
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.ImageContainer {
  position: relative;
  width: 100%;
  height: 10em;
  overflow: hidden;
}

/* title  */
.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

/* responseviness */

/* @media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  width: max-content;
}

.split {
  display: grid;
  gap: 0 1rem;
  justify-items: start;
  justify-content: start;
}

/* .split-2-1 {
		grid-template-columns: 2fr 1fr;
	}
	
	.1-1 {
		grid-template-columns: 1fr 1fr;
	}
	
	.1-2 {
		grid-template-columns: 1fr 2fr;
	}
	
	.1-1-2 {
		grid-template-columns: 1fr 1fr 2fr;
	} */

/* tooltip  */
/* tell buttons links what it does  */

/* shadow  */

/* animation  */
/* transition */

/* loading  */
/* use on the base of current item */

/* hover  */
/* on icon, round surrouding */
/* tootips consistant, JS? to give extra data  */
/* on menu, shows menu items */
/* hover on hover, extra */

/* navbar, nav */
.nav-link {
  font-family: "Roboto", sans-serif;
  color: white !important;
  text-align: justify;
  margin-left: 0.7rem;
  cursor: pointer;
  /* background-color: #1ce1ac;
  display: inline-block; */
}

.navbar {
  background-color: #002c71;
  /* height: 100px; */
}

.navbar-toggle {
  transition: ease-in-out 0.2s;
}

.navbar-toggle:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.2s;
}

.iconPerson {
  margin-left: 2px;
}

.dropdown {
  /* background: yellow; */
  justify-content: center;
}
.dropdown-title {
  color: white;
  text-decoration: none;
  /* background-color: yellow; */
  text-align: center;
  margin: 0 auto;
  display: flex;
  width: 100%;
  margin-left: 2rem;
  justify-content: center;
  align-items: center;
  padding-top: 0.6rem;
  inline-size: 1rem;
}

.dropdown-title:active,
.dropdown-title:hover,
.dropdown-title:checked {
  color: white;
  text-decoration: none;
}

.dropdown- .dropdown-title:before {
  content: "";
}

.dropdown-header {
  content: "";
  background-color: yellow;
}

.dropdown-toggle:after {
  display: none;
}

.carousel {
  position: absolute;
  background-color: red;
}

.carousel-item {
  position: absolute;
  background-color: yellow;
}

.largebox {
  background-color: lightcoral;
  width: 70vw;

  position: relative;
  left: 150px;
}

.carousel-caption {
  background-color: white;
  position: relative;
  padding: 2rem;
  left: 100px;
  /* width: 300px;
  bottom: 200px; */
}

@media (max-width: 1350px) {
  /* .largebox {
    margin: 0 60px 0 10vw;
  } */

  .card {
    padding: 1.5rem;
    text-align: left;
    color: black;
    text-decoration: none;
    border-radius: 0.1rem;
    border: none;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 300px;
    position: absolute;

    top: 20vh;
    left: -20vh;
  }

  div.card:before {
    background-color: #1ce1ac;
    width: 50px;
    height: 200px;
    content: "hmmweofjweoijfweoijfewjfoj";
  }

  .nav-link {
    margin-left: 3rem;
  }

  .dropdown-title {
    margin-left: 4.3rem;
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 1000px) {
  /* .largebox {
    margin: 0 100px 0 10vw;
  } */

  .card {
    padding: 1.5rem;
    text-align: left;
    color: black;
    text-decoration: none;
    border-radius: 0.1rem;
    border: none;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 300px;
    position: absolute;

    top: 20vh;
    left: -20vh;
  }

  div.card:before {
    background-color: #1ce1ac;
    width: 50px;
    height: 200px;
    content: "hmmweofjweoijfweoijfewjfoj";
  }
}

@media (min-width: 992px) {
  .contactus {
    text-align: end;
  }

  .nav-section2 {
    /* background-color: lightcoral; */
  }

  .navdropdown {
    /* background-color: lightgreen; */
    /* text-align: end; */
    /* display */
  }

  .navdropdown-menu {
    background-color: #1ce1ac !important;
    color: #0070f3 !important;
    border-radius: 0;
  }

  .navdropdown-item {
    background-color: #1ce1ac !important;
    color: #0070f3 !important;
  }

  .navdropdown-item {
    color: red !important;
    background-color: #1ce1ac !important;
  }

  .nav-link {
    width: 100%;
    text-align: center;
    margin-left: 0.7rem;
  }

  #navbarScrollingDropdown {
    width: 100%;
    /* background-color: #002c71; */
    margin: 0 auto;
  }

  .nav-section1 {
    margin-left: 5rem;
    width: 60%;
    /* background-color: lightblue; */
    margin: 0 8rem 0 2rem;
  }

  .nav-section2 {
    margin-left: 1rem;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .nav-section3 {
    margin-left: 1rem;
    width: 10%;
    /* background-color: lightgreen; */
    min-width: 100px;
  }
}

.buttonLogo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 135px;
  /* background-color: lightgreen; */
  text-align: center;
  /* background-color: lightcoral; */
}

.buttonLogo2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 130px;
  /* background-color: lightgreen; */
  text-align: center;
  /* background-color: lightcoral; */
}

.fillupForm {
  background-color: rgb(241, 240, 240);
  /* border: 1px solid var(--dark); */
  padding: 2rem;
  border-radius: 5px;
  width: 500px;
}

@media (max-width: 600px) {
  .fillupForm {
    width: 400px;
  }

  button {
    width: 100%;
  }

  .editDelete {
    /* margin: 1rem; */
    padding: 1rem;
    /* background-color: yellow; */
  }
}

@media (max-width: 300px) {
  .fillupForm {
    padding: 2rem;
    border-radius: 10px;
    width: 230px;
  }
}

.delete {
  background-color: var(--pcbColorRed);
  padding: 0.5rem;
  font-size: 1rem;
  background: inherit;
  border-radius: 0.1rem;
}
